<launch>
	<param name="/use_sim_time" value="true" />

	<node pkg="rosbag" type="play" name="rosbag_play" args="--loop --clock /home/muhaimen/ROS/bagfiles/stereo_outdoorA.bag" >
		<remap from="/stereo_camera/left/camera_info_throttle" to="/left/camera_info" />
		<remap from="/stereo_camera/right/camera_info_throttle" to="/right/camera_info" />
		<remap from="/tf" to="/unused_tf" />
	</node>

	<node pkg="image_transport" type="republish" name="republish_left" 
		args="compressed in:=/stereo_camera/left/image_raw_throttle raw out:=/left/image_raw" />
	<node pkg="image_transport" type="republish" name="republish_right" 
		args="compressed in:=/stereo_camera/right/image_raw_throttle raw out:=/right/image_raw" />

	<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" />

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find carrt_goggles)/launch/bagfile.rviz" />

	<node pkg="carrt_goggles" type="obstacle_detector" name="obstacle_detector" />

	<node pkg="carrt_goggles" type="ground_plane" name="ground_plane" >
		<param name="visualize" type="bool" value="true" />
	</node>
</launch>