<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
	<node pkg="uvc_camera" type="uvc_camera_node" name="left">
		<remap from="image_raw" to="left/image_raw" />
		<remap from="camera_info" to="left/camera_info" />
		<remap from="camera" to="left" />
		<remap from="set_camera_info" to="left/set_camera_info" />

		<param name="device" value="/dev/video1"/>
		<param name="camera_info_url" value="file://$(find carrt_goggles)/launch/left.yaml"/>

		<param name="width" value="640"/>
		<param name="height" value="480"/>
		<param name="fps" value="30"/>
		<param name="frame_id" value="left"/>

		<param name="exposure_absolute" value="120"/>
	</node>

	<node pkg="uvc_camera" type="uvc_camera_node" name="right">
		<remap from="image_raw" to="right/image_raw" />
		<remap from="camera_info" to="right/camera_info" />
		<remap from="camera" to="right" />
		<remap from="set_camera_info" to="right/set_camera_info" />

		<param name="device" value="/dev/video2"/>
		<param name="camera_info_url" value="file://$(find carrt_goggles)/launch/right.yaml"/>

		<param name="width" value="640"/>
		<param name="height" value="480"/>
		<param name="fps" value="30"/>
		<param name="frame_id" value="right"/>

		<param name="exposure_absolute" value="120"/>
	</node>

rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.025 --approximate=0.1 right:=/right/image_raw left:=/left/image_raw right_camera:=/right left_camera:=/left

rosbag record -O subset /left/camera_info /left/image_raw /right/camera_info /right/image_raw

</launch>