<launch>
	<node pkg="usb_cam" type="usb_cam_node" name="left">
		<param name="video_device" value="/dev/video1"/>
		<param name="camera_frame_id" value="left_camera"/>
		<param name="camera_name" value="left"/>
		<param name="image_width" value="1280"/>
		<param name="image_height" value="1024"/>
		<param name="pixel_format" value="yuyv"/>
	</node>

	<node pkg="usb_cam" type="usb_cam_node" name="right">
		<param name="video_device" value="/dev/video2"/>
		<param name="camera_frame_id" value="right_camera"/>
		<param name="camera_name" value="right"/>
		<param name="image_width" value="1280"/>
		<param name="image_height" value="1024"/>
		<param name="pixel_format" value="yuyv"/>
	</node>

	<node pkg="nodelet" type="nodelet" args="standalone image_proc/crop_decimate" name="left_cropper">
		<param name="x_offset" value="150" />
		<param name="y_offset" value="150" />
		<param name="width" value="980" />
		<param name="height" value="724" />

		<!-- remap input topics -->
		<remap from="camera/image_raw" to="left/image_raw"/>
		<remap from="camera/image_info" to="left/camera_info"/>

		<!-- remap output topics -->
		<remap from="camera_out/image_raw" to="left/cropped/image_cropped"/>
		<remap from="camera_out/image_info" to="left/cropped/camera_info"/>
	</node>

	<node pkg="nodelet" type="nodelet" args="standalone image_proc/crop_decimate" name="right_cropper">
		<param name="x_offset" value="150" />
		<param name="y_offset" value="150" />
		<param name="width" value="980" />
		<param name="height" value="724" />

		<!-- remap input topics -->
		<remap from="camera/image_raw" to="right/image_raw"/>
		<remap from="camera/image_info" to="right/camera_info"/>

		<!-- remap output topics -->
		<remap from="camera_out/image_raw" to="right/cropped/image_cropped"/>
		<remap from="camera_out/image_info" to="right/cropped/camera_info"/>
	</node>

rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.02  --approximate=0.1 right:=/right/cropped/image_cropped left:=/left/cropped/image_cropped right_camera:=/right left_camera:=/left

rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.02 image:=/left/image_raw camera:=/left

</launch>