<launch>
	<node pkg="usb_cam" type="usb_cam_node" name="left">
		<param name="video_device" value="/dev/video0"/>
		<param name="camera_frame_id" value="left_camera"/>
		<param name="camera_name" value="left"/>
		<param name="image_width" value="1280"/>
		<param name="image_height" value="960"/>
	</node>

	<node pkg="usb_cam" type="usb_cam_node" name="right">
		<param name="video_device" value="/dev/video2"/>
		<param name="camera_frame_id" value="right_camera"/>
		<param name="camera_name" value="right"/>
		<param name="image_width" value="1280"/>
		<param name="image_height" value="960"/>
	</node>
rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.032  --approximate=0.1 right:=/right/image_raw left:=/left/image_raw right_camera:=/right left_camera:=/left

</launch>