<launch>
	<group ns="stereo">
		<node pkg="usb_cam" type="usb_cam_node" name="left">
			<param name="video_device" value="/dev/video1"/>
			<param name="camera_frame_id" value="left"/>
			<param name="camera_name" value="left"/>
			<param name="image_width" value="640"/>
			<param name="image_height" value="360"/>
		</node>

		<!--node pkg="image_rotate" type="image_rotate" name="left_rotator">
			<remap from="image" to="left/image_raw"/>
			<remap from="rotated/image" to="left/image_rotated"/>
			
			<param name="input_frame_id" value="left"/>
			<param name="output_frame_id" value="left_rotated"/>

			<param name="target_frame_id" value=""/>
			<param name="target_x" value="0.0"/>
			<param name="target_y" value="1.0"/>
			<param name="target_z" value="0.0"/>

			<param name="source_x" value="1.0"/>
			<param name="source_y" value="0.0"/>
			<param name="source_z" value="0.0"/>

			<param name="output_image_size" value="1.0"/>
		</node-->

		<node pkg="usb_cam" type="usb_cam_node" name="right">
			<param name="video_device" value="/dev/video0"/>
			<param name="camera_frame_id" value="right"/>
			<param name="camera_name" value="right"/>
			<param name="image_width" value="640"/>
			<param name="image_height" value="360"/>
		</node>

		<!--node pkg="image_rotate" type="image_rotate" name="right_rotator">
			<remap from="image" to="right/image_raw"/>
			<remap from="rotated/image" to="right/image_rotated"/>
			
			<param name="input_frame_id" value="right"/>
			<param name="output_frame_id" value="right_rotated"/>

			<param name="target_frame_id" value=""/>
			<param name="target_x" value="0.0"/>
			<param name="target_y" value="1.0"/>
			<param name="target_z" value="0.0"/>

			<param name="source_x" value="-1.0"/>
			<param name="source_y" value="0.0"/>
			<param name="source_z" value="0.0"/>

			<param name="output_image_size" value="1.0"/>
		</node-->

		<node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc">
			<remap from="left/image_raw" to="left/image_raw"/>
			<remap from="left/camera_info" to="left/camera_info"/>
			<remap from="right/image_raw" to="right/image_raw"/>
			<remap from="right/camera_info" to="right/camera_info"/>
			<param name="approximate_sync" value="True"/>
			
			<param name="speckle_size" value="500"/>
			<param name="min_disparity" value="45"/>
			<param name="disparity_range" value="112"/>
		</node>

		<!--node pkg="carrt_goggles" type="obstacle_detector" name="obstacle_detector" />

		<node pkg="carrt_goggles" type="ground_plane" name="ground_plane" >
			<param name="visualize" type="bool" value="true" />
		</node-->
	</group>

	<node name="stereo_view" pkg="image_view" type="stereo_view">
		<param name="approximate_sync" value="True"/>
		<remap from="image" to="image_rect_color"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find carrt_goggles)/launch/usb_cam.rviz" />
</launch>